{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Inscription</h1>
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    <fieldset class="mb-3">
                        <legend>Mon identité</legend>
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.age) }}
                        {{ form_row(registrationForm.sex) }}
                    </fieldset>

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}

                <button type="submit" class="btn btn-primary btn-lg my-3">M'inscrire</button>
                {# <a href="{{ path('app_login') }}" class="btn btn-secondary btn-lg mt-3">Me connecter</a> #}
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>

{% endblock %}
